ul.join
    li
        a(href=`${urls.login}${urls.loginNaver}`).social-join
            span.logo-img-naver
                img&attributes({"src": "none", "alt" : "네이버 로고", "width": "20px", "height": "20px"})
            p.social-text.
                네이버로 회원가입
    li
        a(href=`${urls.login}/${urls.loginFacebook}`).social-join
            span.logo-img-facebook
                img&attributes({"src": "none", "alt" : "페이스북 로고", "width": "20px", "height": "20px"})
            p.social-text.
                페이스북으로 회원가입
    li
        a(href=`${urls.login}/${urls.loginGoogle}`).social-join
            span.logo-img-kakao
                img&attributes({"src": "none", "alt" : "카카오 로고", "width": "20px", "height": "20px"})
            p.social-text.
                카카오로 회원가입
    .join-division
        img&attributes({"src":"none"})
    .manual-join
        form(method="post" action=urls.join).manual-join-form
            ul.email-form
                li
                    input(type="email" name="joinEmail" value placeholder="이메일 주소 입력").join-email
                li
                    input(type="submit" name value="회원가입").join-btn
            .age-limit
                p.
                    * 만 19세 이상 가입 가능
                p.
                    * 어마무시한 내용
div.userList
    a(href=urls.test + urls.userList).
        → 회원가입된 유저 확인하기